{{#partial "content"}}
  <section id="animal">
    <div class="container">
      {{#if thriving}}
        <div class="card bg-light my-5">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-lg-4 px-2">
                <img class="img-profile-size img-thumbnail" src="{{thriving.image}}" alt="">
              </div>
              <div class="col-12 col-lg-8">
                <span class="badge bg-success py-1 my-2 my-lg-0 float-none float-lg-end">{{thriving.category}}</span>
                <p class="fw-light"><span class="fw-medium">Name:</span> {{thriving.name}}</p>
                <p class="fw-light">
                  <span class="fw-medium">Species:</span> {{species.name}}
                </p>
                <div class="d-flex justify-content-center justify-content-lg-start">
                  <a href="/animals/thriving-animals/{{thriving.id}}/update">
                    <button class="btn btn-success">
                      <i class="fa-solid fa-pen-to-square"></i>
                      <span class="px-1">Update</span>
                    </button>
                  </a>
                  <a href="" class="mx-3 text-success">
                    <button class="btn btn-success">
                      <i class="fa-solid fa-trash-can"></i>
                      <span class="px-1">Delete</span>
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else if endangered}}
        <div class="card bg-light my-5">
          <div class="card-body">
            <div class="row gx-1">
              <div class="col-12 col-lg-4 px-2">
                <img class="img-profile-size img-thumbnail" src="{{endangered.image}}" alt="">
              </div>
              <div class="col-12 col-lg-8">
                <span class="badge bg-danger py-1 my-2 my-lg-0 float-none float-lg-end">{{endangered.category}}</span>
                <p class="fw-light"><span class="fw-medium">Name:</span> {{endangered.name}}</p>
                <p class="fw-light"><span class="fw-medium">Species:</span>
                  {{species.name}}
                </p>
                <p class="fw-light"><span class="fw-medium">Health status:</span> {{endangered.health}}</p>
                <p class="fw-light"><span class="fw-medium">Age:</span> {{endangered.age}}</p>
                <div class="d-flex justify-content-center justify-content-lg-start">
                  <a href="/animals/endangered-animals/{{endangered.id}}/update">
                    <button class="btn btn-success">
                      <i class="fa-solid fa-pen-to-square"></i>
                      <span class="px-1">Update</span>
                    </button>
                  </a>
                  <a href="" class="mx-3 text-success">
                    <button class="btn btn-success">
                      <i class="fa-solid fa-trash-can"></i>
                      <span class="px-1">Delete</span>
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        {{#partial "message"}}
          No animal found
        {{/partial}}
        {{>alert.hbs}}
      {{/if}}
    </div>
  </section>
{{/partial}}
{{>layout2.hbs}}