{{#partial "content"}}
  <section id="animal">
    <div class="container">
      {{#if thriving}}
        <div class="card bg-light my-5">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-lg-4 px-2">
                <img class="img-profile-size img-thumbnail" src="{{thriving.image}}" alt="">
              </div>
              <div class="col-12 col-lg-7">
                <p class="fw-light"><span class="fw-medium">Name:</span> {{thriving.name}}</p>
                <p class="fw-light">
                  <span class="fw-medium">Species:</span> {{species.name}}
                </p>
                <p class="fw-light">
                  <span class="fw-medium">Category:</span>
                  <span class="badge bg-success py-2">{{thriving.category}}</span>
                </p>
                <div class="d-flex">
                  <a href="" class="text-success">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Update
                  </a>
                  <a href="" class="mx-3 text-success">
                    <i class="fa-solid fa-trash-can"></i>
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else if endangered}}
        <div class="card bg-light my-5">
          <div class="card-body">
            <div class="row gx-2">
              <div class="col-12 col-lg-4 px-2">
                <img class="img-profile-size img-thumbnail" src="{{endangered.image}}" alt="">
              </div>
              <div class="col-12 col-lg-7">
                <p class="fw-light"><span class="fw-medium">Name:</span> {{endangered.name}}</p>
                <p class="fw-light"><span class="fw-medium">Species:</span>
                  {{species.name}}
                </p>
                <p class="fw-light"><span class="fw-medium">Health status:</span> {{endangered.health}}</p>
                <p class="fw-light"><span class="fw-medium">Age:</span> {{endangered.age}}</p>
                <p class="fw-light">
                  <span class="fw-medium">Category:</span>
                  <span class="badge bg-danger py-2">{{endangered.category}}</span>
                </p>
                <div class="d-flex">
                  <a href="" class="text-success">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Update
                  </a>
                  <a href="" class="mx-3 text-success">
                    <i class="fa-solid fa-trash-can"></i>
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        {{#partial "message"}}
          No animal found
        {{/partial}}
        {{>alert.hbs}}
      {{/if}}
    </div>
  </section>
{{/partial}}
{{>layout2.hbs}}