{{#partial "content"}}
  <section id="locations">
    <div class="container">
      <h1 class="fs-regular my-5">Sightings by location </h1>
      {{#each locations}}
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{name}} | Description : {{description}}
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <table class="table table-responsive table-striped table-hover my-3">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ranger</th>
                    <th scope="col">Reported date</th>
                    <th scope="col">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each sightings}}
                    <tr>
                      <th scope="row">{{@index_1}}</th>
                      <td>
                        <p class="fw-light">{{ranger.name}} | Badge : {{ranger.badge}}</p>
                      </td>
                      <td>
                        <p class="fw-light">{{formattedReportedDate}}</p>
                      </td>
                      <td>
                        <a href="/sightings/{{id}}">
                          <button class="btn btn-success">
                            <i class="fa-solid fa-eye"></i>
                            View
                          </button>
                        </a>
                      </td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
{{/partial}}
{{>layout2.hbs}}